/* Create by Bradley Latreille 
 * Desc: Style for index page. 
 */
h1{
	text-align:center;
	font-family:"Lucida Sands Unicode", "Lucida Grande", sans-serif;
}
p{
	text-align:center;
	font-family:"Lucida Sands Unicode", "Lucida Grande", sans-serif;
	font-size: 20px; 
}

table{margin-left:auto;margin-right:auto;}
